<#import "template.html" as template>
<@template.content>
<div style="display: block; width: 600px; height: 400px; margin: 20px;">
<div id="hide_chat" onclick="document.getElementById('chat_open').innerHTML='0'; document.getElementById('CHATBUTTON_CHATBOX').style.display='none'; document.getElementById('hide_chat').style.display='none'; document.getElementById('show_chat').style.display='block'; updateChatStatus();"></div>
<p id="show_chat" style="display: none;"><a href="#" onclick="document.getElementById('chat_open').innerHTML='1'; document.getElementById('CHATBUTTON_CHATBOX').style.display='block'; document.getElementById('show_chat').style.display='none'; document.getElementById('hide_chat').style.display='block'; updateChatStatus();">Show chat</a></p>
<iframe name="CHATBUTTON_CHATBOX" id="CHATBUTTON_CHATBOX" src="https://www.chatbutton.com/chatroom/18347632/" width="600" height="400" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" style="display:none"><a href="https://www.chatbutton.com/chatroom/18347632/">Enter Chat Room</a></iframe>
<script type="text/javascript">
CHBT_channel="18347632";
CHBT_profanityfilter="0";
//CHBT_position="top-left";
</script>
<script type="text/javascript" src="https://www.chatbutton.com/c.js">
</script>
</div>
<div id="chat_open" style="display:none">${chat_open}</div>
<script type="text/javascript">
  window.onload = function() {
    if (document.getElementById('chat_open').innerHTML == 0) {
      document.getElementById('CHATBUTTON_CHATBOX').style.display='none';
      document.getElementById('hide_chat').style.display='none';
      document.getElementById('show_chat').style.display='block';
    } else {
      document.getElementById('CHATBUTTON_CHATBOX').style.display='block';
      document.getElementById('hide_chat').style.display='block';
      document.getElementById('show_chat').style.display='none';
    }
  }

  function updateChatStatus() {
    $.ajax({
      url: "/chat_status_update?chat_open="+$('#chat_open').html(),
      type: 'GET',
      success: function(data) {
      }
    });
  }
</script>
</@template.content>
