<#import "template.html" as template>
<@template.content>

<div class="row section">
		<img src="/images/business_cards.jpeg" style="height: 250px;" class="float_right" />
		<div class="page-header">
		  <h1>Chancecoin <small>a coin for betting in a decentralized casino</small></h1>
		</div>
		<p>Chancecoin is a coin and a casino. It's made for gamblers. <a href="/participate">Download</a> the Chancecoin software &#8212; including decentralized casino, decentralized exchange, and wallet. Start playing today!</p>
		<p>Don't like gambling? Be the house. Every owner of Chancecoin is automatically invested in the house bankroll.</p>
		<p>Built on top of the Bitcoin blockchain, Chancecoin is the first and only casino that is truly decentralized. There is no central point of failure. The owner can't run away with the bankroll. Nobody can shut it down. It's owned by the people.</p>
		<p><a class="btn btn-primary btn-lg" role="button" href="/participate">Download</a> <a class="btn btn-primary btn-lg" role="button" href="/technical">Learn more</a></p>
</div>

<div class="row section">
		<ul id="tabs" class="nav nav-tabs" data-tabs="tabs" style="margin-top: 2em;">
				<li class="active"><a href="#dice" data-toggle="tab">Dice</a></li>
				<li><a href="#poker" data-toggle="tab">Poker</a></li>
		</ul>

		<div id="my-tab-content1" class="tab-content">
				<div class="tab-pane active" id="dice">
						<form id="dice1" action="/casino" class="form-inline" method="post">

								<input type="hidden" name="form" value="bet_dice">
								<input type="hidden" name="source" value="${address}">

								<div class="form-group">
									<img src="/images/dice.png" class="casino-icon" />
								</div>

								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">#</span>
										<input type="text" placeholder="bet size (CHA)" name="bet">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">%</span>
										<input type="text" placeholder="chance to win" name="chance" onchange="document.getElementsByName('payout')[0].value=100/parseFloat(document.getElementsByName('chance')[0].value)*(${1-house_edge});">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">X</span>
										<input type="text" placeholder="payout" name="payout" onchange="document.getElementsByName('chance')[0].value=100/(parseFloat(document.getElementsByName('payout')[0].value)/(${1-house_edge}));">
									</div>
								</div>

								<div class="form-group">
									<div class="input-group">
										<span class="input-group-btn">
											<button class="btn btn-default" onclick="processBet('dice1'); return false;" <#if !own?? || read_only??>disabled="disabled"</#if>>Roll dice</button>
										</span>
									</div>
								</div>

						</form>
				</div>
				<div class="tab-pane" id="poker">
						<#if poker_hand??>
						<form id="poker1" action="/casino" class="form-inline" method="post">

								<input type="hidden" name="form" value="bet_poker">
								<input type="hidden" name="source" value="${address}">

								<div class="form-group">
									<img src="/images/poker.png" class="casino-icon" />
								</div>

								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">#</span>
										<input type="text" placeholder="bet size (CHA)" name="bet">
									</div>
								</div>

								<div class="form-group">
									<div class="input-group">
										<span class="input-group-btn">
											<button class="btn btn-default" onclick="processBet('poker1'); return false;" <#if !own?? || read_only??>disabled="disabled"</#if>>Bet</button>
										</span>
									</div>
								</div>

								<div class="form-group">
									<div class="input-group">
										<span class="input-group-btn">
											<button class="btn btn-default" onclick="window.location.reload(true); return false;">Fold</button>
										</span>
									</div>
								</div>

								<div class="form-group" style="clear: both; display: block;">
								</div>

								<#list poker_hand as card>
								<div class="form-group">
									<div class="input-group">
										<#if card_index=0>
										<span class="help-block">You</span>
										<#elseif card_index=2>
										<span class="help-block">Board</span>
										<#elseif card_index=7>
										<span class="help-block">Opponent</span>
										<#else>
										<span class="help-block">&nbsp;</span>
										</#if>
										<#if card="??">
											<input type="hidden" name="card${card_index+1}" value="??">
											<img src="/images/cards/back.png" class="card" title="Back" />
										<#else>
											<input type="hidden" name="card${card_index+1}" value="${card}">
											<img src="/images/cards/${card}.png" class="card" title="${card}" />
										</#if>
									</div>
								</div>
								<#if card_index=1 || card_index=6 || card_index=8>
								<div class="form-group" style="clear: both; width: 4em;">
								</div>
								</#if>
								</#list>
								<p>Chance of winning: ${poker_chance}%</p>
						</form>
						</#if>
				</div>
		</div>
</div>

<div class="row section">
		<h2>Recent <a href="/casino">bets</a></h2>
		<table class="table table-striped">
				<thead>
						<tr>
								<th>Source address</th>
								<th>Time</th>
								<th>Bet size</th>
								<th>Chance to win / payout multiplier</th>
								<th>Result</th>
								<th>Profit</th>
						</tr>
				</thead>

				<tbody>
					<#list bets as bet>
							<tr>
									<td><a href="/wallet?address=${bet["source"]}">${bet["source"]}</a></td>
									<td>${bet["block_time"]}</td>
									<td>${bet["bet"]} CHA</td>
									<td>${bet["chance"]}% / ${bet["payout"]}X</td>

									<#if bet["cards"]??>
									<td>
									<#list bet["cards"]?split(" ") as card>
									<#if card_index=0>
									<div style="float: left; padding-top: 1.25em; padding-right: 2.5em;">Player</div>
									</#if>
									<#if card_index=7>
									<div style="float: left; padding-top: 1.25em; padding-right: 1em;">Opponent</div>
									</#if>
									<#if card="??">
									<img src="/images/cards/back.png" style="height: 75px; display: inline; margin-bottom: 0.5em;" title="back" />
									<#else>
									<img src="/images/cards/${card}.png" style="height: 75px; display: inline; margin-bottom: 0.5em;" title="${card}" />
									</#if>
									<#if card_index=1 || card_index=6>
									<div style="clear: both;"></div>
									</#if>
									</#list>
									<#if bet["cards_result"]??>
									<p>${bet["cards_result"]}</p>
									</#if>
									</td>
									<#else>
									<td><img src="/images/dice.png" style="height: 25px; display: inline;" /> <#if bet["resolved"]??>${bet["roll"]}<#else>?</#if></td>
									</#if>

									<td><#if bet["resolved"]?? && bet["resolved"]="true">${bet["profit"]} CHA<#else>Unresolved</#if></td>
							</tr>
					</#list>
				</tbody>
		</table>
</div>

</@template.content>
