<#macro content>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Chancecoin is a coin for betting on dice in a decentralized casino.">

	<title>Chancecoin<#if title??> - ${title}</#if></title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand logo" href="/">Chancecoin</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
	      <ul class="nav navbar-nav">
					<li <#if title?? && title=="Casino">class="active"</#if>><a href="/casino">Casino</a></li>
					<li <#if title?? && title=="Exchange">class="active"</#if>><a href="/exchange">Exchange</a></li>
					<li <#if title?? && title=="Wallet">class="active"</#if>><a href="/wallet">Wallet</a></li>
					<li <#if title?? && title=="Participate">class="active"</#if>><a href="/participate">Participate</a></li>
					<li <#if title?? && title=="Technical">class="active"</#if>><a href="/technical">Technical</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="http://reddit.com/r/chancecoin">Subreddit</a></li>
							<li><a href="https://github.com/chancecoin/chancecoinj">GitHub</a></li>
							<li><a href="https://bitcointalk.org/index.php?topic=528023.0">Bitcointalk</a></li>
						</ul>
					</li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
					<#if addresses??>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">${address?substring(0,6)}... <b class="caret"></b></a>
	          <ul class="dropdown-menu">
								<#list addresses as addr>
									<li><a href="?address=${addr["address"]}"><#if addr["address"]==address><strong>${addr["address"]}</strong><#else>${addr["address"]}</#if> <span class="badge">${addr["balance_CHA"]} CHA</span></a></li>
								</#list>
	          </ul>
	        </li>
					</#if>
					<#if blocksBTC?? && blocksCHA?? && version??>
					<li class="dropdown">
						<#if parsing??>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">${parsing} / ${blocksBTC} <b class="caret"></b></a>
						<#else>
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">${blocksCHA} / ${blocksBTC} <b class="caret"></b></a>
						</#if>
						<ul class="dropdown-menu">
							<#if parsing??>
							<li><a href="#">CHA blocks <span class="badge">${parsing}</span></a></li>
							<#else>
							<li><a href="#">CHA blocks <span class="badge">${blocksCHA}</span></a></li>
							</#if>
							<li><a href="#">BTC blocks <span class="badge">${blocksBTC}</span></a></li>
							<li><a href="#">Version <span class="badge">${version}</span></a></li>
							<#if !parsing??>
							<li><a href="/?reparse">Reparse transactions</a></li>
							</#if>
						</ul>
					</li>
					</#if>
	      </ul>
	    </div>
	  </div>
	</nav>

	<div class="container-fluid content">
		<#if info?? || error?? || success?? || warning?? || (version?? && min_version?? && (version?number<min_version?number)) || parsing??>
		<div class="row section messages">
			<#if info??>
			<div class="alert alert-info">${info}</div>
			</#if>
			<#if error??>
			<div class="alert alert-danger">${error}</div>
			</#if>
			<#if success??>
			<div class="alert alert-success">${success}</div>
			</#if>
			<#if warning??>
			<div class="alert alert-warning">${warning}</div>
			</#if>
			<#if version_major?? && version_minor?? && min_version_major?? && min_version_minor?? && (version_major?number<min_version_major?number || (version_major?number==min_version_major?number && version_minor?number<min_version_minor?number))>
			<div class="alert alert-danger">You must update to the latest version of Chancecoin. Your version is out of date.</div>
			</#if>
			<#if parsing??>
			<div class="alert alert-warning">Chancecoin is parsing transactions. You can still use the software, but the information you see will be out of date.</div>
			</#if>
		</div>
		</#if>

		<#nested/>

		<div style="position: fixed; bottom: 0em; right: 0em;">
		<div id="hide_chat" onclick="document.getElementById('is_chat_open').innerHTML='0'; document.getElementById('CHATBUTTON_CHATBOX').style.display='none'; document.getElementById('hide_chat').style.display='none'; document.getElementById('show_chat').style.display='block';"></div>
		<p id="show_chat" style="display: none;"><a href="#" onclick="document.getElementById('is_chat_open').innerHTML='1'; document.getElementById('CHATBUTTON_CHATBOX').style.display='block'; document.getElementById('show_chat').style.display='none'; document.getElementById('hide_chat').style.display='block';">Show chat</a></p>
		<iframe name="CHATBUTTON_CHATBOX" id="CHATBUTTON_CHATBOX" src="https://www.chatbutton.com/chatroom/18347632/" width="300" height="300" marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no"><a href="https://www.chatbutton.com/chatroom/18347632/">Enter Chat Room</a></iframe>
		<script type="text/javascript">
		CHBT_channel="18347632";
		CHBT_profanityfilter="0";
		//CHBT_position="bottom-left";
		</script>
		<script type="text/javascript" src="https://www.chatbutton.com/c.js">
		</script>
		</div>
		<div id="is_chat_open">1</div>
		<script type="text/javascript">
			window.onload = function() {
				if (document.getElementById('is_chat_open').innerHTML == '0') {
					alert('chat closed');
					document.getElementById('CHATBUTTON_CHATBOX').style.display='none'; 
					document.getElementById('hide_chat').style.display='none'; 
					document.getElementById('show_chat').style.display='block';
				}
			}
		</script>
	</div>

	<div class="container-fluid footer">
	Chancecoin &copy; 2014. Released under the <a href="http://opensource.org/licenses/mit-license.php">MIT License</a>.
	</div>

	<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui.js"></script>
	<script>
	YUI().use('node-base', 'node-event-delegate', function (Y) {
	Y.one('body').delegate('click', function (e) {
	e.preventDefault();
	}, 'a[href="#"]');
	});
	</script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-49712885-1', 'chancecoin.com');
	  ga('send', 'pageview');

	</script>

	<!-- Piwik -->
	<script type="text/javascript">
	var pkBaseURL = (("https:" == document.location.protocol) ? "http://chancecoin.com/piwik/" : "http://chancecoin.com/piwik/");
	document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
	</script><script type="text/javascript">
	try {
	var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
	piwikTracker.trackPageView();
	piwikTracker.enableLinkTracking();
	} catch( err ) {}
	</script><noscript><p><img src="http://chancecoin.com/piwik/piwik.php?idsite=1" style="border:0" alt=""/></p></noscript>
	<!-- End Piwik Tag -->

</body>
</html>
</#macro>
