<#import "template.html" as template>
<@template.content>
		<div class="row section">
				<div class="col-xs-4 segment one-third">
						<h2>Balance</h2>
						<ul class="list-group">
						<#if balanceCHA??>
						<li class="list-group-item">
						<span class="badge">CHA</span>
						${balanceCHA?string(",##0.00000000")}
						</li>
						</#if>
						<#if balanceBTC??>
						<li class="list-group-item">
						<span class="badge">BTC</span>
						<a href="/unspents?address=${address}">${balanceBTC?string(",##0.00000000")}</a>
						</li>
						</#if>
						</ul>
						<#if own?? && !read_only??>
						<div class="alert alert-info">You own this address.</div>
						<form class="pure-form pure-form-stacked" action="/wallet" method="post">
								<div class="input-group">
										<input type="hidden" name="form" value="delete">
										<input type="hidden" name="address" value="${address}">
										<button type="submit" class="btn btn-default">Delete this address</button>
								</div>
						</form>
						<#else>
						<div class="alert alert-warning">You do not own this address, so you cannot create Chancecoin transactions using it.</div>
						</#if>
				</div>
				<div class="col-xs-4 segment one-third">
						<h2>Import private key</h2>
						<form id="import_private_key_form" action="/wallet" method="post">
								<input type="hidden" name="form" value="import">

								<div class="input-group">
									<span class="input-group-addon">PK</span>
									<input type="text" placeholder="private key" name="privatekey" data-toggle="tooltip" data-placement="bottom" title="Your private key should be in WIF format. For more information about where to find this, see the Participate page.">
								</div>
								<script>
								$('input[type=text][name=privatekey]').tooltip({
								placement: "bottom",
								trigger: "hover"
								});
								</script>

								<div class="input-group">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit" <#if read_only??>disabled="disabled"</#if>>Import private key</button>
									</span>
								</div>
						</form>
				</div>
				<div class="col-xs-4 segment one-third">
						<h2>Send</h2>
						<form id="send_cha_form" action="/wallet" method="post">
				        <input type="hidden" name="form" value="send">
								<input type="hidden" name="source" value="${address}">

								<div class="input-group">
									<span class="input-group-addon">@</span>
				        	<input type="text" placeholder="destination address" name="destination">
								</div>

								<div class="input-group">
								  <span class="input-group-addon">#</span>
				        	<input type="text" placeholder="quantity" name="quantity">
								</div>

								<div class="input-group">
									<select name="asset">
										<option value="CHA" selected="selected">CHA</option>
										<option value="BTC">BTC</option>
									</select>
								</div>

								<div class="input-group">
						      <span class="input-group-btn">
						        <button class="btn btn-default" onclick="processSend('send_cha_form'); return false;" <#if !own?? || read_only??>disabled="disabled"</#if>>Send</button>
						      </span>
						    </div>
						</form>
				</div>
		</div>

		<div class="row section">
				<div class="col-xs-4 segment one-third">
						<h2>My burns</h2>
						<table class="table table-striped">
								<thead>
										<tr>
												<th>Burned (BTC)</th>
												<th>Earned (CHA)</th>
										</tr>
								</thead>

								<tbody>
										<#if my_burns??>
										<#list my_burns as tx>
										<tr>
												<td>${ tx["burned"]?string(",##0.00000000") }</td>
												<td>${ tx["earned"]?string(",##0.00000000") }</td>
										</tr>
										</#list>
										</#if>
								</tbody>
						</table>
				</div>
				<div class="col-xs-4 segment one-third">
						<h2>My sending transactions</h2>
						<table class="table table-striped">
								<thead>
										<tr>
												<th>Destination</th>
												<th>Quantity (CHA)</th>
										</tr>
								</thead>

								<tbody>
										<#if my_sends??>
										<#list my_sends as tx>
										<tr>
												<td><a href="?address=${tx["destination"]}">${ tx["destination"] }</a></td>
												<td>${ tx["amount"]?string(",##0.00000000") }</td>
										</tr>
										</#list>
										</#if>
								</tbody>
						</table>
			</div>
			<div class="col-xs-4 segment one-third">
					<h2>My receiving transactions</h2>
					<table class="table table-striped">
							<thead>
									<tr>
											<th>Source</th>
											<th>Quantity (CHA)</th>
									</tr>
							</thead>

							<tbody>
									<#if my_receives??>
									<#list my_receives as tx>
									<tr>
											<td><a href="?address=${tx["source"]}">${ tx["source"] }</a></td>
											<td>${ tx["amount"]?string(",##0.00000000") }</td>
									</tr>
									</#list>
									</#if>
							</tbody>
					</table>
			</div>
	</div>

</@template.content>
