<#import "template.html" as template>
<@template.content>
    <div class="pure-g-r section">
      <div class="pure-u-1">
        <h1>Balances</h1>
      </div>
    </div>

    <div class="pure-g-r section padding-bottom">
      <div class="pure-u-1">
        <h2>All balances</h2>

        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>Address</th>
                    <th>CHA balance</th>
                    <th>Market share</th>
                </tr>
            </thead>

            <tbody>
                <#list balances as balance>
                    <tr>
                        <td>${balance["address"]}</td>
                        <td>${balance["balance"]}</td>
                        <td>${balance["share"]}%</td>
                    </tr>
                </#list>
            </tbody>
        </table>
      </div>
    </div>
</@template.content>
