<#import "template.html" as template>
<@template.content>
		<div class="pure-g-r section">
			<div class="pure-u-1 padding-bottom padding-top">
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-user"></span> ${address} <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" role="menu">
							<#if addresses??>
								<#list addresses as addr>
									<li><a href="?address=${addr}"><#if addr==address><strong></#if>${addr}<#if addr==address></strong></#if></a></li>
								</#list>
							</#if>
						</ul>
					</div>
			</div>
		</div>

		<div class="pure-g-r section">
				<div class="pure-u-1">
						<h2>Roll dice</h2>
						<form action="/casino" class="form-inline" method="post">

								<input type="hidden" name="form" value="roll">
								<input type="hidden" name="source" value="${address}">

							  <div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">#</span>
										<input type="text" placeholder="bet size (CHA)" name="bet">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">%</span>
										<input type="text" placeholder="chance to win" name="chance" onchange="document.getElementsByName('payout')[0].value=100/document.getElementsByName('chance')[0].value*(${1-house_edge});">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-addon">X</span>
										<input type="text" placeholder="payout" name="payout" onchange="document.getElementsByName('chance')[0].value=100/(document.getElementsByName('payout')[0].value/(${1-house_edge}));">
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<span class="input-group-btn">
											<button class="btn btn-default" type="submit">Roll dice</button>
										</span>
									</div>
								</div>

						</form>
				</div>
		</div>

		<div class="pure-g-r section padding-bottom">
				<div class="pure-u-1">
						<h2>Quick numbers</h2>
						<table class="pure-table pure-table-bordered">
								<thead>
										<tr>
												<th>Total CHA</th>
												<th>Max profit</th>
										</tr>
								</thead>

								<tbody>
										<tr>
												<td>${supply} CHA</td>
												<td>${max_profit} CHA</td>
										</tr>
								</tbody>
						</table>
				</div>
		</div>

		<div class="pure-g-r section padding-bottom">
			<div class="pure-u-1">

				<h2>Leaderboard</h2>

				<table class="pure-table pure-table-bordered">
				    <thead>
				        <tr>
				            <th>Source Address</th>
				            <th>Total Bets</th>
				            <th>Average Bet Size</th>
				            <th>Average Win Chance</th>
				            <th>Total Profit</th>
				        </tr>
				    </thead>
						<#list winners as winner>
								<tr>
										<td><a href="http://blockchain.info/address/${winner["source"]}">${winner["source"]}</a></td>
										<td>${winner["bet_count"]}</td>
										<td>${winner["avg_bet"]} CHA</td>
										<td>${winner["avg_chance"]}%</td>
										<td>${winner["sum_profit"]} CHA</td>
								</tr>
						</#list>
				    <tbody>

				    </tbody>
				</table>








				<h2>All bets</h2>

				<table class="pure-table pure-table-bordered">
				    <thead>
				        <tr>
				            <th>Source Address</th>
				            <th>Bet Size</th>
				            <th>Chance to Win</th>
				            <th>Payout Multiplier</th>
							<th>Roll</th>
				            <th>Profit</th>
				        </tr>
				    </thead>

				    <tbody>
							<#list bets as bet>
									<tr>
											<td><a href="http://blockchain.info/tx/${bet["tx_hash"]}">${bet["source"]}</a></td>
											<td>${bet["bet"]} CHA</td>
											<td>${bet["chance"]}%</td>
											<td>${bet["payout"]}X</td>
											<td>${bet["roll"]}</td>
											<td><#if bet["resolved"] = "true">${bet["profit"]} CHA<#else>Unresolved</#if></td>
									</tr>
							</#list>
				    </tbody>
				</table>
				<h2>My bets</h2>
				<#if my_bets??>
				<table class="pure-table pure-table-bordered">
						<thead>
								<tr>
										<th>Source address</th>
										<th>Bet size</th>
										<th>Chance to win</th>
										<th>Payout multiplier</th>
										<th>Roll</th>
										<th>Profit</th>
								</tr>
						</thead>

						<tbody>
							<#list my_bets as bet>
									<tr>
											<td><a href="http://blockchain.info/tx/${bet["tx_hash"]}">${bet["source"]}</a></td>
											<td>${bet["bet"]} CHA</td>
											<td>${bet["chance"]}%</td>
											<td>${bet["payout"]}X</td>
											<td>${bet["roll"]}</td>
											<td><#if bet["resolved"] = "true">${bet["profit"]} CHA<#else>Unresolved</#if></td>
									</tr>
							</#list>
						</tbody>


				</table>
				</#if>
			</div>
		</div>
</@template.content>
