<#import "template.html" as template>
<@template.content>

<div class="row section">
		<h2>What is Chancecoin?</h2>
		<p>Chancecoin is a coin made for betting in a decentralized casino. <a href="/participate">Download</a> the casino software and start playing today!</p>
		<p><a class="btn btn-primary btn-lg" role="button" href="/participate">Download</a></p>
</div>

<div class="row section">
		<div class="col-xs-4 segment game">
				<img src="/images/dice.png" />
				<form action="/casino" class="form-inline" method="post">

						<input type="hidden" name="form" value="roll">
						<input type="hidden" name="source" value="${address}">

						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">#</span>
								<input type="text" placeholder="bet size (CHA)" name="bet">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">%</span>
								<input type="text" placeholder="chance to win" name="chance" onchange="document.getElementsByName('payout')[0].value=100/document.getElementsByName('chance')[0].value*(${1-house_edge});">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">X</span>
								<input type="text" placeholder="payout" name="payout" onchange="document.getElementsByName('chance')[0].value=100/(document.getElementsByName('payout')[0].value/(${1-house_edge}));">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit">Roll dice</button>
								</span>
							</div>
						</div>

				</form>
		</div>
		<div class="col-xs-4 segment game">
				<img src="/images/color_wheel.png" />
				<form action="/casino" class="form-inline" method="post">

						<input type="hidden" name="form" value="roll">
						<input type="hidden" name="source" value="${address}">

						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">#</span>
								<input type="text" placeholder="bet size (CHA)" name="bet">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">%</span>
								<input type="text" placeholder="chance to win" name="chance" onchange="document.getElementsByName('payout')[0].value=100/document.getElementsByName('chance')[0].value*(${1-house_edge});">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-addon">X</span>
								<input type="text" placeholder="payout" name="payout" onchange="document.getElementsByName('chance')[0].value=100/(document.getElementsByName('payout')[0].value/(${1-house_edge}));">
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<span class="input-group-btn">
									<button class="btn btn-default" type="submit">Roll dice</button>
								</span>
							</div>
						</div>

				</form>
		</div>
		<div class="col-xs-4 segment game">
				<img src="/images/roulette.png" />
				<form action="/casino" class="form-inline" method="post">

					<input type="hidden" name="form" value="roll">
					<input type="hidden" name="source" value="${address}">

					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">#</span>
							<input type="text" placeholder="bet size (CHA)" name="bet">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">%</span>
							<input type="text" placeholder="chance to win" name="chance" onchange="document.getElementsByName('payout')[0].value=100/document.getElementsByName('chance')[0].value*(${1-house_edge});">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">X</span>
							<input type="text" placeholder="payout" name="payout" onchange="document.getElementsByName('chance')[0].value=100/(document.getElementsByName('payout')[0].value/(${1-house_edge}));">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">Roll dice</button>
							</span>
						</div>
					</div>

			</form>
		</div>
</div>

<div class="row section">
		<div class="col-xs-6 segment">
				<h2>Recent bets</h2>
				<table class="table table-striped">
						<thead>
								<tr>
										<th>Bet Size</th>
										<th>Chance to Win</th>
										<th>Payout Multiplier</th>
										<th>Profit</th>
								</tr>
						</thead>

						<tbody>
							<#list bets as bet>
									<tr>
											<td>${bet["bet"]} CHA</td>
											<td>${bet["chance"]}%</td>
											<td>${bet["payout"]}X</td>
											<td><#if bet["resolved"]?? && bet["resolved"]="true">${bet["profit"]} CHA<#else>Unresolved</#if></td>
									</tr>
							</#list>
						</tbody>
				</table>
		</div>
		<div class="col-xs-6 segment">
				<h2>Top balances</h2>
				<table class="table table-striped">
						<thead>
								<tr>
										<th>Address</th>
										<th>CHA balance</th>
										<th>Market share</th>
								</tr>
						</thead>

						<tbody>
								<#list balances as balance>
										<tr>
												<td>${balance["address"]}</td>
												<td>${balance["balance"]?string(",##0.00")}</td>
												<td>${balance["share"]?string("##0.00")}%</td>
										</tr>
								</#list>
						</tbody>
				</table>
		</div>
</div>

</@template.content>
