<#import "template.html" as template>
<@template.content>
<div class="splash">
	<div class="pure-g-r">
		<div class="pure-u-1">
			<div class="splash-image">
				<img src="/images/logo.png" alt="ChanceCoin logo" style="width: 150px;" />
			</div>
			<div class="splash-text">
				<h1 class="splash-head">
				Decentralized dice betting
				</h1>
				<h2 class="splash-subhead">
				Chancecoin is a coin and a casino. Use it to bet on dice rolls, or bankroll the house.
				</h2>
			</div>
		</div>
	</div>
</div>

<div class="pure-g-r section">
	<div class="pure-u-1-3 segment one-third">
		<h2><img src="/images/dice_32x32.png" alt="" class="inline" /> Made for dice betting</h2>
		<p>Chancecoin is specifically designed for betting on dice rolls. Pick your odds and make your bet. Or invest in the house bankroll.</p>
	</div>
	<div class="pure-u-1-3 segment one-third">
		<h2><img src="/images/fullscreen_exit_32x32.png" alt="" class="inline" /> Decentralized</h2>
		<p>Built on top of the Bitcoin network, Chancecoin is fully decentralized. There is no need for a central casino as a point of failure.</p>
	</div>
	<div class="pure-u-1-3 segment one-third">
		<h2><img src="/images/aperture_alt_32x32.png" alt="" class="inline" /> Fair and open</h2>
		<p>Chancecoins are created during a proof-of-burn time period that is open to everyone. The code itself is open source and published on GitHub.</p>
	</div>
</div>

<div class="pure-g-r section">
	<div class="pure-u-1 segment">
		<p>What are you waiting for? <a href="/participate">Roll the dice</a> on Chancecoin today.</p>
	</div>
</div>

</div>
</@template.content>
