<#import "template.html" as template>
<@template.content>
		<div class="pure-g-r section">
			<div class="pure-u-1 padding-bottom padding-top">
					<div class="btn-group">
					  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					    <span class="glyphicon glyphicon-user"></span> ${address} <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
							<#if addresses??>
								<#list addresses as addr>
									<li><a href="?address=${addr}"><#if addr==address><strong></#if>${addr}<#if addr==address></strong></#if></a></li>
								</#list>
							</#if>
					  </ul>
					</div>
			</div>
		</div>

		<div class="pure-g-r section">
				<div class="pure-u-1-3 segment one-third border-right">
						<h2>Balance</h2>
						<#if balanceCHA??>
						<table class="pure-table pure-table-bordered center">
								<thead>
										<tr>
												<th>Balance</th>
												<th>Currency</th>
										</tr>
								</thead>

								<tbody>
									<#if balanceCHA??>
									<tr><td>${balanceCHA?string(",##0.00000000")}</td><td>CHA</td></tr>
									</#if>
									<#if balanceBTC??>
									<tr><td>${balanceBTC?string(",##0.00000000")}</td><td>BTC</td></tr>
									</#if>
								</tbody>
						</table>
						</#if>
						<p>See <a href="/balances">all balances</a>.</p>
				</div>
				<div class="pure-u-1-3 segment one-third border-right">
						<h2>Import address</h2>
						<form action="/wallet" method="post">
								<input type="hidden" name="form" value="import">

								<div class="input-group">
									<span class="input-group-addon">@</span>
									<input type="text" placeholder="address" name="address">
								</div>

								<div class="input-group">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit">Import address</button>
									</span>
								</div>
						</form>
						<p>Note: importing requires a blockchain re-download.</p>
				</div>
				<div class="pure-u-1-3 segment one-third">
						<h2>Send</h2>
						<form action="/wallet" method="post">
				        <input type="hidden" name="form" value="send">
								<input type="hidden" name="source" value="${address}">

								<div class="input-group">
									<span class="input-group-addon">@</span>
				        	<input type="text" placeholder="destination address" name="destination">
								</div>

								<div class="input-group">
								  <span class="input-group-addon">#</span>
				        	<input type="text" placeholder="quantity (CHA)" name="quantity">
								</div>

								<div class="input-group">
						      <span class="input-group-btn">
						        <button class="btn btn-default" type="submit">Send</button>
						      </span>
						    </div>
						</form>
				</div>
		</div>
		<div class="pure-g-r section">
				<div class="pure-u-1-3 segment one-third border-right">
						<h2>Buy</h2>
						<form action="/wallet" method="post">
								<input type="hidden" name="form" value="buy">
								<input type="hidden" name="source" value="${address}">

								<div class="input-group">
									<span class="input-group-addon">#</span>
									<input type="text" placeholder="quantity (CHA)" name="quantity">
								</div>

								<div class="input-group">
									<span class="input-group-addon">$</span>
									<input type="text" placeholder="price (CHA/BTC)" name="price">
								</div>

								<div class="input-group">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit">Buy</button>
									</span>
								</div>
						</form>
				</div>
				<div class="pure-u-1-3 segment one-third border-right">
						<h2>Order book</h2>
						<table class="pure-table pure-table-bordered center">
						    <thead>
						        <tr>
						            <th>Buy quantity (CHA)</th>
						            <th>Price (CHA/BTC)</th>
						            <th>Sell quantity (CHA)</th>
						        </tr>
						    </thead>

						    <tbody>
										<#if orders_sell??>
										<#list orders_sell as order>
						        <tr>
												<td></td>
												<td>${order["price"]}</td>
												<td>${order["quantity"]}</td>
						        </tr>
										</#list>
										</#if>
										<#if orders_buy??>
										<#list orders_buy as order>
										<tr>
												<td>${ order["price"] }</td>
												<td>${ order["quantity"] }</td>
												<td></td>
										</tr>
										</#list>
										</#if>
						    </tbody>
						</table>
				</div>
				<div class="pure-u-1-3 segment one-third">
						<h2>Sell</h2>
						<form class="pure-form pure-form-stacked" action="/wallet" method="post">
								<input type="hidden" name="form" value="sell">
								<input type="hidden" name="source" value="${address}">

								<div class="input-group">
									<span class="input-group-addon">#</span>
									<input type="text" placeholder="quantity (CHA)" name="quantity">
								</div>

								<div class="input-group">
									<span class="input-group-addon">$</span>
									<input type="text" placeholder="price (CHA/BTC)" name="price">
								</div>

								<div class="input-group">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit">Sell</button>
									</span>
								</div>
						</form>
				</div>
		</div>
		<div class="pure-g-r section">
				<div class="pure-u-1-2 segment one-half border-right">
						<h2>My orders</h2>
						<table class="pure-table pure-table-bordered center">
								<thead>
										<tr>
												<th>Buy/sell CHA</th>
												<th>Price (CHA/BTC)</th>
												<th>Quantity (CHA)</th>
												<th>Quantity (BTC)</th>
												<th>Cancel</th>
										</tr>
								</thead>

								<tbody>
										<#if my_orders??>
										<#list my_orders as order>
										<tr>
												<td>${ order["buysell"] }</td>
												<td>${ order["price"] }</td>
												<td>${ order["quantity_cha"] }</td>
												<td>${ order["quantity_btc"] }</td>
												<td>
														<form class="pure-form pure-form-stacked" action="/wallet" method="post">
																<fieldset>
																		<input type="hidden" name="form" value="cancel">
																		<input type="hidden" name="tx_hash" value="${ order["tx_hash"] }">
																		<button type="submit" class="pure-button pure-button-primary">Cancel</button>
																</fieldset>
														</form>
												</td>
										</tr>
										</#list>
										</#if>
								</tbody>
						</table>
					</div>
					<div class="pure-u-1-2 segment one-half">
						<h2>My matched orders</h2>
						<table class="pure-table pure-table-bordered center">
								<thead>
										<tr>
												<th>BTC owed</th>
												<th>CHA in return</th>
												<th>Pay BTC</th>
										</tr>
								</thead>

								<tbody>
										<#if my_order_matches??>
										<#list my_order_matches as order_match>
										<tr>
												<td>${ order_match["btc_owed"] }</td>
												<td>${ order_match["cha_return"] }</td>
												<td>
														<form class="pure-form pure-form-stacked" action="/wallet" method="post">
																<fieldset>
																		<input type="hidden" name="form" value="btcpay">
																		<input type="hidden" name="order_match_id" value="${ order_match["order_match_id"] }">
																		<button type="submit" class="pure-button pure-button-primary">Pay BTC</button>
																</fieldset>
														</form>
												</td>
										</tr>
										</#list>
										</#if>
								</tbody>
						</table>
				</div>
		</div>
</@template.content>
