<div class="row section">
		<div class="page-header centered">
		  <h1>Chancecoin <small>a coin for betting in a decentralized casino</small></h1>
		</div>
		<div class="col-xs-6 segment">
			<div class="list-group">
			  <div class="list-group-item">
			    <h3 class="list-group-item-heading">Coin and casino</h3>
			    <p class="list-group-item-text">Chancecoin is a coin and a casino.</p>
			  </div>
				<div class="list-group-item">
					<h3 class="list-group-item-heading">Fast bets</h3>
					<p class="list-group-item-text">When you bet, the result takes only 5 seconds.</p>
				</div>
				<div class="list-group-item">
					<h3 class="list-group-item-heading">Low fees</h3>
					<p class="list-group-item-text">The fee for a bet is only 0.0000456 BTC, or approximately $0.025.</p>
				</div>
				<div class="list-group-item">
					<h3 class="list-group-item-heading">Great games</h3>
					<p class="list-group-item-text">The casino features classic dice betting and poker.</p>
				</div>
			</div>
		</div>
		<div class="col-xs-6 segment">
			<div class="list-group">
				<div class="list-group-item">
					<h3 class="list-group-item-heading">Invest</h3>
					<p class="list-group-item-text">Every Chancecoin owner is automatically invested in the house.</p>
				</div>
				<div class="list-group-item">
					<h3 class="list-group-item-heading">Decentralized</h3>
					<p class="list-group-item-text">There is no central point of failure. Nobody can shut it down.</p>
				</div>
				<div class="list-group-item">
					<h3 class="list-group-item-heading">Bitcoin blockchain</h3>
					<p class="list-group-item-text">Transactions are stored in the Bitcoin blockchain.</p>
				</div>
				<div class="list-group-item">
					<h3 class="list-group-item-heading">Exchanges</h3>
					<p class="list-group-item-text">Chancecoin (CHA) trades on Poloniex and in a decentralized exchange.</p>
				</div>
			</div>
		</div>
</div>
