<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
codebase="http://active.macromedia.com/flash4/cabs/swflash.cab#version=4,0,0,0"
id="name" width="468" height="60">
<param name="movie" value="http://www.everywherechat.com/everywherechat.swf?defaultRoom=Chancecoin&roomList=true&fontSize=12&width=600&height=500&theme=classic">
<param name="quality" value="high">
<param name="wmode" value="transparent">
<embed name="name" src="http://www.everywherechat.com/everywherechat.swf?defaultRoom=Chancecoin&roomList=true&fontSize=12&width=600&height=500&theme=classic"
quality="high" wmode="transparent" width="600" height="500"
type="application/x-shockwave-flash"
pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?
P1_Prod_Version=ShockwaveFlash">
</embed>
</object>
